body {
    /* margin: 0; */
    font-family: sans-serif;
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
}

.btn-add {
    background-color: lightcoral;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn-add:hover {
    background-color: coral;
}
.btn-add:active {
    background-color: red;
}
.btn-add:focus {
    outline: none;
}

.btn-delete {
    background: none;
    border: none;
    color: #dc3545;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    vertical-align: middle;
}
.btn-delete:hover {
    color: red;
    background-color: lightblue;
    border-radius: 4px;
}

table, th, td {
    border: 1px solid #333;
  }

th, td {
    padding: 6px;
    text-align: left;
}