{% extends 'layout.html' %}

{% block title %}
<title>Primer Database</title>
{% endblock %}

{% block info %}
    <h1>Primer Database</h1>
    <h3>About</h3>
    <p>Welcome to the Primer Database! This is a simple web application that allows you to manage and view primer sequences.</p>
    <hr>
{% endblock %}

{% block content %}
  <button class="btn-add" onclick="location.href='{{ url_for('add') }}'">Add new pair of primers</button>

  <h3>Genes in database:</h3>
  <ul>
    {% for gene_id in gene_ids %}
      <li>
        <a href="{{ url_for('pairs', gene_id=gene_id) }}">
          {{ gene_id }}
        </a>
        <a href="{{ url_for('delete_gene', gene_id=gene_id) }}">
          &#128465
        </a>
      </li>
    {% endfor %}
  </ul>  
{% endblock %}



