{% extends 'layout.html' %}

{% block head %}
<title>Primers Details</title>
{% endblock %}

{% block info %}
<h2>Primers Details</h2>
<p>Here you can view the details of a specific primer pair.</p>
{% endblock %}

{% block content %}
<p>Gene ID: {{ pair.gene }}</p>

<table><thead>
    <tr>
      <th></th>
      <th>Sequence</th>
      <th>Melting temperature, &ordm;C</th>
    </tr></thead>
  <tbody>
    <tr>
      <td>Forward primer</td>
      <td>{{ pair.fwd_seq }}</td>
      <td>{{ pair.fwd_tm }}</td>
    </tr>
    <tr>
      <td>Reverse primer</td>
      <td>{{ pair.rev_seq }}</td>
      <td>{{ pair.rev_tm }}</td>
    </tr>
  </tbody>
</table>
<br>

<a href="{{ url_for('edit', primers_id=pair.primers_id) }}">Edit</a>
<a href="{{ url_for('delete', primers_id=pair.primers_id) }}">Delete</a>
{% endblock %}