{% extends 'layout.html' %}

{% block title %}<title>Primers for {{ gene_id }}</title>{% endblock %}

{% block info %}
  <h2>Primers for gene <i>{{ gene_id }}</i></h2>
{% endblock %}

{% block content %}

<div class="add-primer-container">
  <button onclick="location.href='{{ url_for('add', gene_id=gene_id) }}'">
    Add new primers for {{ gene_id }}
  </button>
</div> <br>

  {% for p in primers %}
  <table class="primer-table">
    <thead>
      <tr>
        <th>Direction</th>
        <th>Sequence</th>
        <th>T<sub>m</sub> (°C)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Forward</td>
        <td>{{ p.fwd_seq }}</td>
        <td>{{ p.fwd_tm }}</td>
      </tr>
      <tr>
        <td>Reverse</td>
        <td>{{ p.rev_seq }}</td>
        <td>{{ p.rev_tm }}</td>
      </tr>
      <tr class="actions-row">
        <td colspan="3">
          <a href="{{ url_for('edit', primers_id=p.primers_id) }}">Edit</a>
          <a href="{{ url_for('delete_primers', primers_id=p.primers_id) }}">Delete</a>
        </td>
      </tr>
    </tbody>
  </table><br>
  {% endfor %}

{% endblock %}
